*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

header{
    width: 100%; height: 100vh;
    background-image: linear-gradient(rgba(73, 80, 87, 0.3),rgba(115, 122, 106, 0.1)) , url('../img/vict.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width:100% ; height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: white; display: flex; justify-content: space-between;
    align-items: center; text-transform: uppercase;
}

nav .logo{
    width: 25%; text-align: center;
}

nav .menu{
    width: 40%;
    display: flex; justify-content: space-around;
}

nav .menu a{
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: azure;
}

section{

}

section h3{
    font-size: 35px ; font-weight: 200 ;letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    
}

section h1{
    font-size:55px ; font-weight:700 ; text-shadow:2px 1px 5px black ; text-transform: uppercase;
    margin: 30px 0 20px 0;
}

section p{
    font-size: 25px ; word-spacing: 2px; margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}

nav .menu a:first-child{
    color: #00b894;

}

section a{
    font-size: 20px ; font-weight:500 ; text-transform: uppercase; outline: none; padding:12px 30px ;border-radius:  4px;  
    text-decoration:none ; letter-spacing:1px ; 
    transition: all 0.5s ease;
}

section .btn1{
 background: #fff;
 color: #000;
}

.btn1:hover{
    background:#00b894;
    color:white;
}

section .btn2{
 background:#00b894;
 color:white;
}

.btn2:hover{
    background: #fff;
 color: #000;
}

.ccontent:after{
content: '  ';
animation: changetext 12s infinite linear;
color: #00b894;
}

@keyframes changetext{
    0%{ content: "Darjeeling"   }
    20%{ content: "Shimla" }
    40%{ content: "New Delhi" }
    55%{ content: "Kerala" }
    80%{ content: "Jammu And Kashmir"}
    100%{ content: "Goa"}
}